{% extends 'base.html'%}
{% block content%}


<div class="container">


{%if Allblogs%}
{% for blog in Allblogs%}

<div class="jumbotron jumbos">
  <h1 class="display-4 title">{{blog.title}}</h1>
  <p class="lead">{{blog.blog}}</p>
  <hr class="my-4">
  <p>submitted by: {{blog.name}}</p>
 
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="{{url_for('main.comment',blogid=blog.id)}}" role="button">Comment on blog</a>
  </p>
   <p class="lead">
    <a class="btn btn-info btn-sm" href="{{url_for('main.singleblog',blogid=blog.id)}}" role="button">view more</a>
  </p>
 
  <form action="{{ url_for('main.deleteblog',blogid=blog.id) }}" method='post' class="delete-entry">
          <input type="hidden" name="blog_id" value="{{ blog.id }}">
          <input class="btn btn-danger btn-sm" type="submit" value="Delete Blog" />
</form>
</div>


<br></br>

{%endfor%}

{%else%}
<p>No blogs available in this category</p>
{%endif%}
{%endblock%}
</div>